<header class="text-gray-700 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-teal-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">MEDIINFO</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a class=" hover:text-gray-900 py-2 px-4" routerLink="/"><span class="material-icons">home</span></a>
        <div class=" hover:text-gray-900">
          <div class="dropdown inline-block relative">
            <span class="text-gray-700  py-2 px-4 rounded inline-flex items-center">
              <span class="hover:text-gray-900">LOGIN</span>
            </span>
            <ul class="dropdown-menu absolute hidden text-gray-700">
              <li class=""><a class="rounded-t py-2 px-4 block whitespace-no-wrap" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" routerLink="/login"><img src="../../../assets/admin.png" alt="" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 ml-3 mx-3 bg-teal-500 rounded-full" viewBox="0 0 24 24">Doctor</a></li>
              <li class=""><a class=" py-2 px-4 block whitespace-no-wrap" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" routerLink="/alogin"><img src="../../../assets/cust.png" alt="" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 ml-3 mx-3 bg-teal-500 rounded-full" viewBox="0 0 24 24">Patient</a></li>
            </ul>
          </div>        
        </div>
        <div  class=" hover:text-gray-900">
          <div class="dropdown inline-block relative">
            <span class="text-gray-700 py-2 px-4 rounded inline-flex items-center">
              <span class="hover:text-gray-900">REGISTER</span>
            </span>
            <ul class="dropdown-menu absolute hidden text-gray-700">
              <li class=""><a class="rounded-t py-2 px-4 block whitespace-no-wrap" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" routerLink="/register"><img src="../../../assets/admin.png" alt="" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 ml-3 mx-3 bg-teal-500 rounded-full" viewBox="0 0 24 24">Doctor</a></li>
              <li class=""><a class=" py-2 px-4 block whitespace-no-wrap" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" routerLink="/aregister"><img src="../../../assets/cust.png" alt="" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 ml-3 mx-3 bg-teal-500 rounded-full" viewBox="0 0 24 24"> Patient</a></li>
            </ul>
          </div>        
        </div>
        <a class=" hover:text-gray-900 px-4 py-2" routerLink="/about">ABOUT</a>
      </nav>
    </div>
  </header>